.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/node_modules/
/application/config/config.php
/application/config/database.php
error_log
/images/perfiles/esteticas/*
/images/productos/*
!images/productos/index.html